:root {
  --matrix-background: #000000;
  --matrix-text: #03A062;
  --bright-background: #FF6600;
  --bright-text: #FFF5E6;;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  transition: background-color 0.3s, color 0.3s;
}

body.matrix-theme {
  background-color: var(--matrix-background);
  color: var(--matrix-text);
}

body.bright-theme {
  background-color: var(--bright-background);
  color: var(--bright-text);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.matrix-theme header {
  background-color: rgba(0, 0, 0, 0.8);
}

.bright-theme header {
  background-color: rgba(255, 245, 230, 0.8);
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
  cursor: pointer;
}

.theme-toggle {
  cursor: pointer;
}