@font-face {
  font-family: 'MatrixFont';
  src: url('/fonts/matrix.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --matrix-background: #000000;
  --matrix-text: #03A062;
  --bright-text: rgb(12, 160, 188);
}

body {
  margin: 0;
  padding: 0;
  transition: background-color 0.1s, color 0.1s;
}

body.matrix-theme {
  background-color: var(--matrix-background);
  color: var(--matrix-text);
  font-family: 'MatrixFont', sans-serif;
}

body.bright-theme {
  background-image: url('/bright-theme-pattern.svg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  color: var(--bright-text);
  font-family: sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: background-color 0.1s, color 0.1s;
}

.matrix-theme header {
  background-color: rgba(0, 0, 0, 0.8);
}

.bright-theme header {
  background-color: rgba(12, 160, 188, 0.2)
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav ul li {
    margin-right: 16px;
  }
}

.theme-toggle {
  cursor: pointer;
  margin-right: 20px;
}

.matrix-theme .repo-link {
  color: var(--repo-link-matrix);
}

.bright-theme .repo-link {
  color: var(--repo-link-bright);
}